{% extends "base.html" %}
<!DOCTYPE html>
<html>

	<body>
	
		{% block content %}
		
		<div class="container-fluid">
			<div class="row">
				
				<div class="main col-md-12 col-lg-12 col-xs-12 col-sm-12" >

						<h3>文章修改</h3>
						 <div class="body">
							<form action="" method="post">
								
							<div class="form-group">
								<label for="name">标题:</label>
								<input class="form-control" type="text" name="title" id="title" value="{{ article.title }}"  />
							</div>
							

							<div class="form-group">
                                <textarea name="intro" rows="5" cols="10" class="form-control" >
                                    {{- article.intro -}}
                                </textarea>
							</div>

                            <div class="form-group">
                                <textarea name="content" rows="30" cols="10" class="form-control" >
                                    {{- article.content -}}
                                </textarea>
							</div>

							<div class="form-group">
							<input class="btn" type="submit" name="submit" id="btn1" value="确认修改" />
							<input class="btn" type="reset" name="reset" id="btn2" value="重设" />
							</div>
							</form>
						 </div>
					</article>
				</div>
			</div>
		</div>
	{%  endblock %}
	</body>
</html>
